fastapi==0.104.1
uvicorn[standard]==0.24.0
supabase==2.0.0
llama-index==0.9.48
groq>=0.5.0
python-dotenv==1.0.0
python-multipart==0.0.6
faiss-cpu>=1.7.4
llama-index-llms-groq==0.3.2
torch
transformers
sentence-transformers
llama-index-core>=0.10.0
llama-index-embeddings-huggingface>=0.1.0
llama-index-vector-stores-faiss>=0.1.0
python-multipart
python-docx>=0.8.11
openpyxl>=3.1.0
xlrd>=2.0.1
pymupdf
pdf2image
pytesseract
opencv-python-headless
pyjanitor
cryptography
httpx
llama-index-embeddings-openai==0.5.0
functools
httpx